$primary-font: 'Roboto', sans-serif;
$heading-font: sanchezbold, serif;
$charcoal: #274653;
$charcoal-lt: #F1F6F8;
$orange-yellow: #FEC42E;
$brown-sugar: #A45E35;
$cornsilk: #FFFBE6;
$fern-green: #3A7D44;

html { scroll-behavior: smooth; }

h1,h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font !important;
  color: $charcoal;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { font-family:  $primary-font; }

.btn-outline-rootable {
  color: $charcoal !important;
  background-color: transparent !important;
  border: 2px solid $charcoal !important;
}

.carousel-indicators li {
    background-color: $charcoal !important;
    opacity: .3; 
}

.container .navbar-brand .rootable-logo {
  content: url("/images/rootable-flat-dark.svg");
  width: 43%;
  height: auto;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link, .navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover { color: white; }

.navbar.navbar-light .navbar-toggler-icon {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39, 70, 83, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar:not(.top-nav-collapse).btn-default, .navbar:not(.top-nav-collapse) .navbar-nav .nav-item .nav-link, .rootable-text { color: $charcoal !important; }

.navbar:not(.top-nav-collapse) { background: transparent !important; }

.navbar.top-nav-collapse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231, 239, 242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.rootable-bold { font-weight: bold; }

.rootable-btn {
  border-radius:  34px !important;
  padding: .48rem 1.07rem !important; 
}

.rootable-green { color: $fern-green !important; }

.rootable-green-background { background-color: $fern-green !important; }

.rootable-link { color: $brown-sugar !important; }

.rootable-odd {
  background-color: $charcoal-lt !important; 
  color: $charcoal !important; 
}

.rootable-primary-background, .top-nav-collapse { background-color: $charcoal !important; }

.rootable-text-highlight {
	background: hsla(44, 98%, 75%, 1);
	background: linear-gradient(90deg, hsla(44, 98%, 75%, 0.1) 0%, hsla(44, 99%, 67%, 0.1) 50%, hsla(44, 99%, 59%, 0.1) 100%);
	background: -moz-linear-gradient(90deg, hsla(44, 98%, 75%, 0.1) 0%, hsla(44, 99%, 67%, 0.1) 50%, hsla(44, 99%, 59%, 0.1) 100%);
	background: -webkit-linear-gradient(90deg, hsla(44, 98%, 75%, 0.1) 0%, hsla(44, 99%, 67%, 0.1) 50%, hsla(44, 99%, 59%, 0.1) 100%);
	// filter: progid: DXImageTransform.Microsoft.gradient( startColorstr= "#{$orange-yellow}", endColorstr="#FED158", GradientType=1 );
	color: #000000;
}

.rootable-yellow { color: $orange-yellow  !important; }

.rootable-yellow-background { background-color: $orange-yellow !important; }

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; 
}

.top-nav-collapse .container .navbar-brand .rootable-logo {
  content: url("/images/rootable-flat-light.svg");
  width: 43%;
  height: auto;
  transition: .35s;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

@font-face {
    font-family: 'sanchezbold';
    src: url('/fonts/sanchez/sanchez-bold-webfont.eot');
    src: url('/fonts/sanchez/sanchez-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sanchez/sanchez-bold-webfont.woff2') format('woff2'),
         url('/fonts/sanchez/sanchez-bold-webfont.woff') format('woff'),
         url('/fonts/sanchez/sanchez-bold-webfont.ttf') format('truetype'),
         url('/fonts/sanchez/sanchez-bold-webfont.svg#sanchezbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 768px) {
  
  .navbar-brand { display: contents; }

  .navbar.navbar-light .navbar-toggler-icon { color:#e7eff2;}

  #navbarContent > ul { text-align: right; }

  #navbarContent > a { float: right; }

  #intro {
    background: $charcoal-lt url("/images/carrot-textured.min.svg") no-repeat fixed right bottom !important;
    background-size: 40% !important; 
  }

}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; 
  } 
}

#client .carousel-indicators .active { background-color: $orange-yellow !important; }

#client .carousel-indicators li, #client .carousel-indicators .active { background-color: $fern-green !important; }

#contact .md-form input[type=text]:focus:not([readonly]) + label { color: $fern-green; }

#contact .md-form textarea:focus:not([readonly]), #contact .md-form input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $fern-green;
  box-shadow: 0 1px 0 0 $fern-green; 
}

#contact .md-form textarea:focus:not([readonly]) + label { color: $fern-green; }

#intro {
  background: url("/images/carrot-textured.min.svg") no-repeat 80% center;
  background-size: 20%; 
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7; 
}

#pricing .lead { opacity: 0.7; }

#pricing ul li { font-size: 1.1em; }