<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest" crossorigin="use-credentials" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#274653">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#e7eff2">
    <%= inline_css 'bootstrap.min.css' %>
    <%= inline_css 'mdb.min.css' %>
    <%= inline_css 'site.css' %>
    <%= inline_js 'site.js' %>
  </head>
  <body id="top">
     <header>
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
        <div class="container"><a class="navbar-brand" href="#"><span alt="Rootable logo" class="rootable-logo" ></span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link active" href="#features">Features</a></li>
              <li class="nav-item"><a class="nav-link active" href="#screenshots">Screenshots</strong></a></li>
              <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
              <li class="nav-item"><a class="nav-link active" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul><a class="btn btn-default btn-rounded my-0 rootable-btn rootable-yellow-background" href="../auth/login">Login</a>
          </div>
        </div>
      </nav>
      <!-- Intro Section-->
      <section class="view rootable-odd" id="intro">
        <div class="site-bg-img d-flex align-items-center">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                <div class="black-text">
                  <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h1 class="h1 h1-responsive">Logistics Software for Organizations</h1>
                    <div class="h6">
                      Rootable helps community-based organizations <mark class="rootable-text-highlight">distribute resources</mark>. It manages schedules, deliveries, donations, volunteers, and data.
                    </div>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <footer class="page-footer rootable-primary-background">
      <div class="container py-5">
        
        <div class="row">
          <div class="col-md-12 pb-3">
            <div class="container-fluid text-center">
              <a class="navbar-brand" href="https://foodrescuealliance.org">A project of <img alt="Food Rescue Alliance Logo" height="auto" src="/images/contributors/fra-logo-light.svg" width="50%" /></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 pb-3">
            <div class="flex-center mb-0">
               <small xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="http://rootable.org">The content of this website</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="http://fooodrescuealliance.org">Food Rescue Alliance</a> is licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"></small></p>
            </div>
          </div>

        </div>

      </div>
    </footer>
    <%= inline_js 'jquery.min.js' %>
    <%= inline_js 'popper.min.js' %>
    <%= inline_js 'bootstrap.min.js' %>
    <%= inline_js 'wow.min.js' %>
    <%= inline_js 'mdb.min.js' %>
    <script>new WOW().init();</script>
  </body>
</html>
   