---
title: Rootable
---

<section class="py-5 rootable-even" id="features">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1-responsive h1 text-center my-5">Our Minimal Viable Product (MVP)</h2>
      <p class="px-5 mb-5 pb-3 lead dark-grey-text text-center w-responsive mx-auto ">What is an MVP? It provides early users with <mark class="rootable-text-highlight">just enough</mark> features. Those users guide future development. We're early in our life span, with time and <mark class="rootable-text-highlight">opportunity</mark> for improvement.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 wow fadeInLeft text-center text-lg-left"><img src="/images/beet-textured.min.svg" alt="stylized beet" height="80%" /></div>
      <div class="col-lg-6 pt-5">
        <div class="row">
          <div class="col-1 wow bounceIn"><img src="/images/slice-4.svg" alt="vegetable slice" height="15%" /></div>
          <div class="col-xl-10 col-md-11 col-10 wow fadeInRight">
            <h5 class="h4 mb-3">Volunteer Management</h5>
            <p class="dark-grey-text">Volunteers sign up for available shifts through a mobile friendly interface. On a shift, they can log the types and weights of food.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 wow bounceIn"><img src="/images/slice-4.svg" alt="vegetable slice" height="15%" /></div>
          <div class="col-xl-10 col-md-11 col-10 wow fadeInRight">
            <h5 class="h4 mb-3">Flexible Scheduling</h5>
            <p class="dark-grey-text">Need to schedule a shift every 2nd and 4th Wednesday of the month? We modeled our scheduling feature after Google calendar.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 wow bounceIn"><img src="/images/slice-4.svg" alt="vegetable slice" height="15%" /></div>
          <div class="col-xl-10 col-md-11 col-10 wow fadeInRight">
            <h5 class="h4 mb-3">Data Tracking</h5>
            <p class="dark-grey-text">On shifts, volunteers have the opportunity to log the type of food and weight they pick up & deliver. Export the data to a spreadsheet of your choice.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 wow bounceIn"><img src="/images/slice-4.svg" alt="vegetable slice" height="15%" /></div>
          <div class="col-xl-10 col-md-11 col-10 wow fadeInRight">
            <h5 class="h4 mb-3">Multiple Rescue Models</h5>
            <p class="dark-grey-text">We cover hubs, decentralized, and hybrid models. Setup shifts with as many pickups and dropoffs as needed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 grey lighten-4" id="screenshots">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="wow fadeIn">
          <h2 class="h1 h1-responsive text-center text-md-right my-5"> Screenshots</h2>
          <p class="lead black-text text-center text-md-right">There are two types of organizational users in Rootable.</p>
          <p class="lead black-text text-center text-md-right"><strong>Admins</strong> have access to the bulk of functionality. They set up donors, recipients, hubs, shifts, tasks, and invite users.</p>
          <p class="lead black-text text-center text-md-right"><strong>Volunteers</strong> pick up open shifts and log data.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="wow fadeInUp">
          <div class="pt-5">
            <div class="carousel slide carousel-fade text-center" id="carousel-screenshot" data-ride="carousel"> 
              <div class="carousel-inner text-center pb-5" role="listbox">
                <div class="carousel-item active"><img class="img-fluid z-depth-2" src="/images/screenshot-home-screen.png" alt="screenshot of home screen" style="height:450px; width:auto;"/></div>
                <div class="carousel-item"><img class="img-fluid z-depth-2" src="/images/screenshot-pickup.png" alt="screenshot of available pickups" style="height:450px; width:auto;"/></div>
                <div class="carousel-item"><img class="img-fluid z-depth-2" src="/images/screenshot-recurring.png" alt="screenshot of recurring shifts" style="height:450px; width:auto;"/></div>
                <div class="carousel-item"><img class="img-fluid z-depth-2" src="/images/screenshot-log-task.png" alt="screenshot of logging a shift" style="height:450px; width:auto;"/></div>
              </div><a class="carousel-control-prev" href="#carousel-screenshot" role="button" data-slide="prev"><span aria-hidden="true"><i class="fa fa-arrow-left rootable-green "></i></span><span class="sr-only text-blue">Previous</span></a><a class="carousel-control-next" href="#carousel-screenshot" role="button" data-slide="next"><span aria-hidden="true"><i class="fa fa-arrow-right rootable-green "></i></span><span class="sr-only">Next</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center" id="pricing">
  <div class="py-5">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 h1-responsive my-5">Our pricing plans</h2>
        <p class="px-5 mb-5 pb-3 lead dark-grey-text">
          Rootable is a donation-based, <mark class="rootable-text-highlight">fair exchange software</mark> that provides logistics to any community-based group, regardless of ability to pay. Inspired by the <a class="rootable-link" href="https://www.soallmayeat.org/home">SAME Cafe</a> in Denver, CO we offer the following opportunities in exchange for the software:
        </p>
      </div>
      <div class="row wow zoomIn mb-5">
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card card-image">
            <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded rootable-text">
              <div class="card-body">
                
                <div class="h5">Pay</div>
                <div class="py-4"><span class="display-4">Money</span><span class="display-5"></span></div>
                <ul class="list-unstyled">
                  <li>
                    <p><strong>Determine</strong> your cost.</p>
                  </li>
                  <li>
                    <p><strong>Choose</strong> your payment timeframe.</p>
                  </li>
                  <li>
                    <p><strong>Sponsor</strong> a feature.</p>
                  </li>
                </ul><a class="btn btn-outline-rootable mt-4 rootable-btn" href="mailto:software@foodrescuealliance.org?subject=Rootable%20Donation%3A%20Learn%20More&body=My%20organization%20is%20interested%20in%20trying%20out%20Rootable%20and%20learning%20if%20it's%20a%20fit.%20If%20so%2C%20we%20have%20some%20funds%20to%20contribute.%20Can%20you%20set%20us%20up%20with%20a%20demo%3F">Pay</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card card-image">
            <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded rootable-text">
              <div class="card-body">
                <div class="h5">Volunteer</div>
                <div class="py-4"><span class="display-4">Time</span><span class="display-5">/skills</span></div>
                <ul class="list-unstyled">
                  <li>
                    <p><strong>Write</strong> a grant.</p>
                  </li>
                  <li>
                    <p><strong>Participate</strong> in design.</p>
                  </li>
                  <li>
                    <p><strong>Join</strong> a decision-making committee.</p>
                  </li>
                </ul><a class="btn btn-outline-rootable mt-4 rootable-btn" href="mailto:software@foodrescuealliance.org?subject=Rootable%20Volunteer%3A%20Learn%20More&body=My%20organization%20is%20interested%20in%20trying%20out%20Rootable%20and%20learning%20if%20it's%20a%20fit.%20If%20so%2C%20we%20might%20have%20some%20time%20or%20skills%20to%20volunteer.%20Can%20you%20set%20us%20up%20with%20a%20demo%3F">Volunteer</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card card-image">
            <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded rootable-primary-background">
              <div class="card-body">
                <div class="h5">FRA Membership</div>
                <div class="py-4"><span class="display-4">Join</span></div>
                <ul class="list-unstyled">
                  <li>
                    <p>A <strong>peer</strong> network.</p>
                  </li>
                  <li>
                    <p>Check out the <strong>Food Rescue Alliance</strong>.</p>
                  </li>
                  <li>
                    <p><strong>Learn</strong> from others.</p>
                  </li>
                </ul><a class="btn btn-outline-white mt-4 rootable-btn" href="https://www.foodrescuealliance.org/join-fra">Join FRA</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card card-image">
            <div class="text-white text-center pricing-card d-flex align-items-center py-3 px-3 rounded rootable-text">
              <div class="card-body">
                <div class="h5">Your Own Way</div>
                <div class="py-4"><span class="display-4">???</span><span class="display-5"></span></div>
                <ul class="list-unstyled">
                  <li>
                    <p><strong>Consider</strong> your assets.</p>
                  </li>
                  <li>
                    <p><strong>Offer</strong> a trade.</p>
                  </li>
                  <li>
                    <p>Or <strong>host</strong> the code yourself.</p>
                  </li>
                </ul><a class="btn btn-outline-rootable mt-4 rootable-btn" href="mailto:software@foodrescuealliance.org?subject=Rootable%20Trade%3A%20Learn%20More&body=My%20organization%20is%20interested%20in%20trying%20out%20Rootable%20and%20learning%20if%20it's%20a%20fit.%20If%20so%2C%20we%20can%20provide%20a%20fair%20exchange.%20Can%20you%20set%20us%20up%20with%20a%20demo%3F">Trade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 grey lighten-4" id="about">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 h1-responsive text-center my-5">About us</h2>
      <p class="lead black-text text-center w-responsive mx-auto mb-5">Rootable is software as <mark class="rootable-text-highlight">movement building</mark> - a mechanism to practice open, flexible, cooperatively-owned systems to build collective power.</p>
    </div>
    <div class="row">
      <div class="col-md-4 mb-md-0 mb-5 wow zoomIn" data-wow-delay=".1s">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-2"><img alt="vegetable slice" height="11%" src="/images/slice-2.svg" /></div>
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="h4">User Ownership</h4>
            <p class="black-text">We're becoming a <mark class="rootable-text-highlight">platform coop</mark>. That means the software is jointly owned and democratically controlled by the organizations that use it.</p>
            <p class="black-text">The future of the software is not in any one organization's hands. There is not "one right way" to operate.</p>
            <!-- <a class="btn btn-default btn-sm ml-0 rootable-btn rootable-green-background" href="#">Learn more</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-5 wow zoomIn" data-wow-delay=".3s">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-2"><img alt="vegetable slice" height="11%" src="/images/slice-3.svg" /></div>
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="h4">Collective Power</h4>
            <p class="black-text"> How might we use data to highlight communities & promote <mark class="rootable-text-highlight">equitable resource distribution</mark>? One idea is shared donor receipts. </p>
            <p class="black-text">Streamlining data collection with smaller localized orgs may increase national donations.</p>
            <!-- <a class="btn btn-default btn-sm ml-0 rootable-btn rootable-green-background" href="#">Learn more</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-5 wow zoomIn" data-wow-delay=".5s">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-2"><img alt="vegetable slice" height="11%" src="/images/slice-7.svg" /></div>
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="h4">Relationship-based </h4>
            <p class="black-text">"<a class="rootable-link" href="https://civileats.com/2020/07/10/op-ed-how-urban-agriculture-can-fight-racism-in-the-food-system/">The food system is not broken;</a> it's working ... as a caste system based on demographics, economics, & race." <mark class="rootable-text-highlight">Logistics alone won't solve hunger</mark>.</p>
            <p class="black-text">Software streamlines logistics so organizations can build and leverage relationships.</p>
            <!-- <a class="btn btn-default btn-sm ml-0 rootable-btn rootable-green-background" href="#">Learn more</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5" id="contributors">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 h1-responsive text-center my-5">Contributing Organizations</h2>
      <p class="px-5 mb-5 pb-3 lead text-center dark-grey-text">
        The following organizations have contributed ideas, inspiration, and time to Rootable.
      </p>
    </div>
    <div class="row text-center text-md-left">
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInLeft" data-wow-delay=".3s"><a class="ripple" href="https://foodtopowerco.org/" target="_blank"><img alt="food to power logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/food-to-power-logo.png" /></a></div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInLeft" data-wow-delay=".3s">
            <div class="col-md-6 float-left"><a class="ripple" href="https://friendshipdonations.org/" target="_blank"><img alt="friendship donations network logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/fdn-logo.png" /></a></div>
            <div class="col-md-6 float-right"><a class="ripple" href="https://www.kaizenfoodrescue.org/" target="_blank"><img alt="kaizen logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/kaizen-logo.png" /></a></div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInRight" data-wow-delay=".3s"><a class="ripple" href="https://www.holefoodrescue.org/" target="_blank"><img alt="hole foods rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/hfr-logo.png" /></a></div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInRight" data-wow-delay=".3s">
            <div class="col-md-6 float-left"><a class="ripple" href="https://www.binghamtonfoodrescue.com/" target="_blank"><img alt="binghamton food rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/binghamton-logo.png" /></a></div>
            <div class="col-md-6 float-right"><a class="ripple" href="https://www.lovingspoonful.org/" target="_blank"><img alt="loving spoonful logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/loving-spoonful-logo.png" /></a></div>
        </div>
    </div>
    <div class="row text-center text-md-left">
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInLeft" data-wow-delay=".3s">
            <div class="col-md-6 float-left"><a class="ripple" href="https://eaglevalleycf.org/the-community-market/" target="_blank"><img alt="community market logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/community-market-logo.png" /></a></div>
            <div class="col-md-6 float-right"><a class="ripple" href="https://denverfoodrescue.org/" target="_blank"><img alt="denver food rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/dfr-logo.png" /></a></div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInLeft" data-wow-delay=".3s"><a class="ripple" href="https://flowercitypickers.org/" target="_blank"><img alt="flower city pickers logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/flower-city-pickers-logo.png" /></a></div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInRight" data-wow-delay=".3s">
            <div class="col-md-6 float-left"><a class="ripple" href="http://www.rachelstable.org/" target="_blank"><img alt="rachel&#39;s table logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/rachels-table-logo.gif" /></a></div>
            <div class="col-md-6 float-right"><a class="ripple" href="https://www.athensfoodrescue.com/" target="_blank"><img alt="athens food rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/athens-logo.jpg" /></a></div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInRight" data-wow-delay=".3s"><a class="ripple" href="https://table2table.org/" target="_blank"><img alt="table to table&#39;s logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/table-2-table-logo.png" /></a></div>
    </div>
    <div class="row text-center text-md-left">
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInLeft" data-wow-delay=".3s"><a class="ripple" href="https://www.foodlinkma.org/" target="_blank"><img alt="food link ma logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/food-link-ma-logo.png" /></a></div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInLeft" data-wow-delay=".3s">
            <div class="col-md-6 float-left"><a class="ripple" href="http://longmontfoodrescue.org/" target="_blank"><img alt="longmont food rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/LFR-logo.png" /></a></div>
            <div class="col-md-6 float-right"><a class="ripple" href="https://412foodrescue.org/" target="_blank"><img alt="412 food rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/412-logo.png" /></a></div>
        </div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInRight" data-wow-delay=".3s"><a class="ripple" href="https://www.tcfoodjustice.org/" target="_blank"><img alt="twin city&#39;s food justice logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/tc-food-justice-logo.png" /></a></div>
        <div class="col-lg-3 col-md-12 mb-5 d-flex align-items-center wow fadeInRight" data-wow-delay=".3s">
            <div class="col-md-6 float-left"><a class="ripple" href="https://boulderfoodrescue.org/" target="_blank"><img alt="binghamton food rescue logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/bfr-logo.png" /></a></div>
            <div class="col-md-6 float-right"><a class="ripple" href="https://www.sevenvalleyshealth.org/" target="_blank"><img alt="seven valley&#39;s logo" class="img-fluid rounded z-depth-1 mb-3 rootable-image" src="/images/contributors/seven-valleys-logo.png" /></a></div>
        </div>
    </div>            
              
  </div>
</section>
<section class="py-5 grey lighten-4" id="client">
  <div class="container py-5">
    <div class="wow fadeIn">
      <h2 class="h1 h1-responsive text-center my-5">Alternatives</h2>
      <p class="px-5 mb-5 lead text-center black-text">Rootable strives to be a <mark class="rootable-text-highlight">collaborator</mark>, not a competitor, with other applications in the space. Ideally, sharing protocols and data to collectively impact issues around food insecurity in an open network. We also can't meet every organizations needs. Consider these other options for your organization:</p>
    </div>
    <div class="wow fadeInUp mb-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-8 text-center pt-3">
              <div class="carousel slide carousel-fade" data-ride="carousel" id="carousel-ma">
                  <ol class="carousel-indicators">
                      <li class="rootable-green-background active" data-slide-to="0" data-target="#carousel-ma"></li>
                      <li class="rootable-green-background" data-slide-to="1" data-target="#carousel-ma"></li>
                      <li class="rootable-green-background" data-slide-to="2" data-target="#carousel-ma"></li>
                  </ol>
                  <div class="carousel-inner pb-5" role="listbox">

                    <div class="carousel-item active">
                          <div class="col"><a href="https://freshfoodconnect.org/"><img alt="fresh food connect logo" class="rounded-circle" src="/images/alternatives/fresh-food-connect-logo.png" style="width:128px; height:128px;" /></a>
                              <h3 class="h3-responsive rootable-text">Fresh Food Connect</h3>
                              <p class="pt-4 px-5">Tackling food insecurity by linking home gardeners with hunger relief organizations.</p>
                          </div>
                      </div>

                    <div class="carousel-item">
                          <div class="col"><a href="https://www.meansdatabase.com/"><img alt="means database logo" class="rounded-circle" src="/images/alternatives/means-logo.jpg" style="width:128px; height:128px;" /></a>
                              <h3 class="h3-responsive rootable-text">MEANS Database</h3>
                              <p class="pt-4 px-5">Donating to nearby nonprofits can save food donors money with tax deductions while feeding those in need in their communities.</p>
                          </div>
                      </div>

                      <div class="carousel-item">
                          <div class="col"><a href="https://www.foodrescuehero.org/"><img alt="food rescue us logo" class="rounded-circle" src="/images/alternatives/food-rescue-us-logo.png" style="width:128px; height:128px;" /></a>
                              <h3 class="h3-responsive rootable-text">Food Rescue US</h3>
                              <p class="pt-4 px-5">Fill plates. Not landfills.</p>
                          </div>
                      </div>
                      
                  </div><a class="justify-content-start carousel-control-prev" data-slide="prev" href="#carousel-ma" role="button"><span aria-hidden="true"><i class="fa fa-caret-left fa-2x rootable-green"></i></span><span class="sr-only rootable-green">Previous</span></a><a class="justify-content-end carousel-control-next" data-slide="next" href="#carousel-ma" role="button"><span aria-hidden="true"><i class="fa fa-caret-right fa-2x rootable-green"></i></span><span class="sr-only rootable-green">Next</span></a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5" id="contact">
  <div class="">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 h1-responsive text-center my-5">Contact us</h2>
        <p class="px-5 mb-5 pb-3 lead text-center dark-grey-text">
          Questions, comments, collaborations?
      </div>
      <div class="row">
        <div class="col-md-5 p-5">
          <ul class="list-unstyled text-center">
            <li class="mt-4"><i class="fa fa-map-marker text-default fa-2x rootable-green"></i>
              <p class="mt-2"> <strong>Boulder, Colorado, U.S.A</strong></p>
            </li>
            <li class="mt-4"><i class="fa fa-envelope text-default fa-2x rootable-green"></i>
              <p class="mt-2"> <strong>software@foodrescuealliance.org</strong></p>
            </li>
          </ul>
        </div>
        <div class="col-md-7">     
          <div class="card mb-5 wow fadeInLeft" data-wow-delay=".4s">
            <div class="card-body px-5">
              <form action="https://formspree.io/f/xyylvwjj" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form">
                      <input class="form-control" id="name" type="text" name="name" required="required"/>
                      <label for="name">Your name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form">
                      <input class="form-control" id="email" type="text" name="_replyto" required="required"/>
                      <label for="email">Your email</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form">
                      <input class="form-control" id="subject" type="text" name="subject" required="required"/>
                      <label for="subject">Subject</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="md-form">
                      <textarea class="md-textarea form-control" id="message" name="message" required="required"></textarea>
                      <label for="message">Your message</label>
                    </div>
                  </div>
                </div>
                <div class="center-on-small-only mb-4">
                  <button class="btn ml-0 white-text rootable-btn rootable-green-background" type="submit"><i class="fa fa-paper-plane-o mr-2 "></i> Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


